/* Body */
body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-blend-mode: screen, difference, lighten;
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.main-card {
  align-items: center;
  align-self: center;
  border-radius: 2%;
  display: flex;
  background-color: white;
  margin: 50px 150px;
  text-align: left;
  /* justify-content: flex-start; */
  vertical-align: middle;
}

.image-class {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 350px;
  /* justify-content: flex-start; */
}

.text {
  margin: 40px;
  width: fit-content;
  /* justify-content: flex-end; */
}

/* IMAGES  */

.error-down {
  width: 10px;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media */
@media screen and (min-height: 1500px) {
  body {
    height: 2300px;
  }
}
